asgiref
certifi
charset-normalizer
Django
gunicorn
idna
joblib
numpy
packaging
pandas
python-dateutil
python-dotenv
requests
scikit-learn
scipy
six
sqlparse
threadpoolctl
tzdata
urllib3
xgboost
